@tailwind base;
@tailwind components;
@tailwind utilities;


  /* For Webkit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

/* For Firefox */
* {
  scrollbar-width: none; /* Hides the scrollbar */
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
}
